<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        admin
    </h1>
    <a href="/managebranch">Add branch</a><br>
    <a href="/viewdivision">Add division</a><br>
    <a href="/viewstaff">Add staff</a><br>
    <a href="/viewcase">Cases</a><br>
    <a href="/viewcomplaints">Complaints</a><br>
    <a href="/sendreply">send Reply</a><br>

    

</body>
</html>