
    <!-- START FOOTER DESIGN AREA -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="footer-social-link">
                        <ul>
                            <li class="wow fadeInUp" data-wow-delay=".4s"><a href="">facebook</a>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay=".6s"><a href="">twitter</a>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay=".8s"><a href="">dribbble</a>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay="1s"><a href="">instagram</a>
                            </li>
                        </ul>
                    </div>
                    <p>© ©CBI All RightReserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- / END FOOTER DESIGN AREA -->

    <!-- LATEST JQUERY -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- BOOTSTRAP JS -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- OWL CAROUSEL JS  -->
    <script src="/static/js/owl.carousel.min.js"></script>
    <!-- MIXITUP JS -->
    <script src="/static/js/jquery.mixitup.js"></script>
    <!-- PARALLAX JS -->
    <script src="/static/js/jquery.stellar.min.js"></script>
    <!-- PARTICLE JS -->
    <script src="/static/js/particles.min.js"></script>
    <script src="/static/js/app.js"></script>
    <!-- MAGNIFICANT JS -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <!-- WOW JS -->
    <script src="/static/js/wow.min.js"></script>
    <!-- CONTACT FORM JS -->
    <script src="/static/js/form-contact.js"></script>
    <!-- SCRIPT JS -->
    <script src="/static/js/scripts.js"></script>


</body></html>