{%include 'headheader.html'%}


<!-- START ABOUT DESIGN AREA -->
<section id="about" class="about-me-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>ABOUT.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- START ABOUT TEXT AREA -->
                <div class="about-text">
                    <p>Efficient Case Management: Through functionalities such as case assignment, status updates, and
                        complaint handling, the project streamlines case management processes, facilitating effective
                        communication and resolution </p>
                </div>
                <!-- / END ABOUT TEXT AREA -->
            </div>
            <div class="col-md-6">
                <!-- START ABOUT TEXT AREA -->
                <div class="about-text">
                    <p>Scalability and Future Readiness: The project's focus on optimization, documentation, and ML
                        integration planning demonstrates a commitment to scalability and future enhancements, enabling
                        the system to evolve and adapt to emerging needs and technologies.

                    </p>
                </div>
                <!-- / END ABOUT TEXT AREA -->
            </div>
        </div>
    </div>
</section>
<!-- / END ABOUT DESIGN AREA -->


<!-- START BLOG PAGE DESIGN AREA -->
<section class="blog-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>recents blogs</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- START SINGLE BLOG DESIGN AREA -->
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <img src="/static/images/blog1.png" alt="">
                    <a href="single-blog.html" class="blog-title"><strike>Crime</strike> Spot</a>
                    <p>Within the tape, shadows whisper tales of the unseen, while every stray piece of evidence holds the weight of truth, waiting to be uncovered</p>
                </div>
            </div>
            <!-- / END SINGLE BLOG DESIGN AREA -->
            <!-- START SINGLE BLOG DESIGN AREA -->
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <img src="/static/images/blog2.png" alt="">
                    <a href="single-blog.html" class="blog-title"><strike>Connections</strike></a>
                    <p>Each crime leaves behind a mark on the map of human experience, a tangled web of stories and secrets waiting to be deciphered by those brave enough to navigate its treacherous paths</p>
                </div>
            </div>
            <!-- / END SINGLE BLOG DESIGN AREA -->
            <!-- START SINGLE BLOG DESIGN AREA -->
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <img src="/static/images/blog3.png" alt="">
                    <a href="single-blog.html" class="blog-title"><strike>Evidence</strike></a>
                    <p>Evidence speaks louder than words, weaving a silent narrative that only the keen eye of justice can unravel.</p>
                </div>
            </div>
            <!-- / END SINGLE BLOG DESIGN AREA -->
        </div>
    </div>
</section>
<!-- / END BLOG PAGE DESIGN AREA -->


{%include 'footer.html'%}