<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Manage branches</h1>
    <form  method="post">
        <table border="2">
            <tr>
                <th>Branch name</th>
                <td><input type="text" name="branch"></td>
            </tr>
            <tr>
                <th>state</th>
                <td><input type="text" name="state" id=""></td>

            </tr>
            <tr>
                <th>district</th>
                <td><input type="text" name="district" id=""></td>

            </tr>
            <tr>
                <th>address</th>
                <td><input type="text" name="address" id=""></td>

            </tr>
            <tr>
                <th>pincode</th>
                <td><input type="text" name="pincode" id=""></td>

            </tr>
            <tr>
                <th>phone</th>
                <td><input type="text" name="phone" id=""></td>

            </tr>
            <tr>
                <th>email</th>
                <td><input type="text" name="email" id=""></td>

            </tr>
            <tr>
                <th>username</th>
                <td><input type="text" name="username" id=""></td>

            </tr>
            <tr>
                <th>password</th>
                <td><input type="text" name="password" id=""></td>

            </tr>
            
            <!-- <tr>
                <td><input type="text" name="branch" id=""></td>
                <td><input type="text" name="state" id=""></td>
                <td><input type="text" name="district" id=""></td>
                <td><input type="text" name="address" id=""></td>
                <td><input type="text" name="pincode" id=""></td>
                <td><input type="text" name="phone" id=""></td>
                <td><input type="text" name="email" id=""></td>
                <td><input type="text" name="username" id=""></td>
                <td><input type="text" name="password" id=""></td>
            </tr> -->
            
                <tr>
                    <td><input type="submit" name="submit"  value="add"></td>
                </tr>
            
        </table>
    </form>
        
    
    <br>

    <table border="2">
    
        <tr>
            <th>Branchname</th>
            <th>state</th>
            <th>district</th>
            <th>address</th>
            <th>pincode</th>
            <th>phone</th>
            <th>email</th>
            
        </tr>
        {% for i in data['viewbranch'] %}
        <tr>
            <td>{{i['branch_name']}}</td>
            <td>{{i['state']}}</td>
            <td>{{i['district']}}</td>
            <td>{{i['address']}}</td>
            <td>{{i['pincode']}}</td>
            <td>{{i['phone']}}</td>
            <td>{{i['email']}}</td>
            <td><a href="/branch_home?id={{i['branch_id']}}">Update</a></td>
            <td><a href="?action=delete&id={{i['branch_id']}}">delete</a></td>
        </tr>

        {% endfor %}
        
    </table>
</form>
    
</body>
</html>