<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
    
        <tr>
                
                <th>Complaint</th>
                
                <th>Date</th>
                <th>Reply</th>
                
            
        </tr>
        {% for i in data['viewcomplaints'] %}
        <tr>
            
            <td>{{i['complaints']}}</td>
            <td>{{i['date_item']}}</td>
            <td><a href="/sendreply?id={{i['complaint_id']}}">Send reply</a></td>
            
            
            
        </tr>

        {% endfor %}
        
    </table>
</body>
</html>