<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
    
        <tr>
                <th>Branch</th>
                <th>Crime</th>
                <th>status</th>
                <th>Date</th>
                
            
        </tr>
        {% for i in data['viewcase'] %}
        <tr>
            
            <td>{{i['branch_name']}}</td>
            <td>{{i['type_of_crime']}}</td>
            <td>{{i['status']}}</td>
            <td>{{i['date']}}</td>
            
            
        </tr>

        {% endfor %}
        
    </table>
</body>
</html>